@import "tailwindcss";

:root {
  --background: #0d1117;
  --foreground: #161b22;
  --text: #c9d1d9;
  --font-jetbrains: 'JetBrains Mono', monospace;
}

@layer components {  
  .typography {
    color: var(--color-gray-950);
    a {
      color: var(--color-blue-500);
      &:hover {
        color: var(--color-blue-800);
      }
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jetbrains: 'JetBrains Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1117;
    --foreground: #161b22;
    --text: #c9d1d9;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-jetbrains);
}
